.small-input {
	width: 50%;
}


.form-width {
	width: 75%;
	margin: auto;
}

.label-left {
	text-align: left;
	display: block;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}


.green-button {
	background-color: #35a062;
	color: white;
	border: none;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.error {
	color:
		red;
}

.flex-container {
	display: flex;
	align-items: center;
}

.flex-container label,
.flex-container input {
	margin-right: 10px;
}

.row-odd {
	background-color: #f2f2f2;
}

.row-even {
	background-color: #ffffff;
}


table {
	border-collapse: separate;
	border-spacing: 10px;
}

th,
td {
	padding: 10px;
}

.btn-50 {
	width: 50% !important;
}

.button-container {
	text-align: center;
	width: 100%;
}